/* Navbar css */

.navBar {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  
  .navBar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
  }
  
   .navBar .leftSide img {
  position: relative;
    width: 70px;
    top: 40px
  }

  .navbar #open img {
    display: none;
  }
  
  .navbar #close img {
    display: inherit;
  }
  
.navBar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 833px;
    height: 96px;
    padding-right: 167px;
    margin-top: 40px;
    backdrop-filter: blur(40.7742px);
    background: rgba(255, 255, 255, 0.04);
  }
  
    .navBar a {
    color: white;
    text-decoration: none;
    margin: 20px;
  } 

  .navBar .rightSide button{
    left: 14em;
    position: relative;
    background-color: transparent;
    border: none;
    color: white;
    display:none; 
    cursor: pointer;
 }
 .navBar .rightSide svg{
  font-size: 40px;
 }
 
 @media screen and (max-width:648px){
  .navBar .rightSide button{
        display: block ;
    }
    .left{
        display: none;
    }
 }

 @media screen and (max-width:648px) {
  .navBar .rightSide a{
display: none;
  } 
 }
 

.navBar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navBar #close .hiddenLinks {
  display: none;
}

  

@media only screen and (min-width: 600px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}

  /* Home css */

 .home img.earth{
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
  }
/* Destination css */
  .destination img{
    min-width: 100%;
    background-size: cover;
    background-position: center;
  } 

    /* Crew css */
    .crew img{
      min-width: 100%;
      background-size: cover;
      background-position: center;
    }

  /* Technology css */
  .techonology img{
    min-width: 100%;
    background-size: cover;
    background-position: center;
  } 
